---
import LandingLayout from "../layouts/LandingLayout.astro";
import Hero from "../components/Hero.astro";
import Terminal from "../components/Terminal.astro";
---

<LandingLayout title="VITO">
  <main class="">
    <Hero />
  </main>
</LandingLayout>
